.card {
    display: inline-block !important;
    vertical-align: top;
    margin-right: 25px;
    margin-bottom: 15px;
    padding: 3px;
    text-align: center;
  }
  
  .card img {
    width: 285px;
    height: 380px;
  }
  
  footer {
    padding: 20px;
    margin-top: auto;
    font-style: normal;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }